body {
	color:#e0fff8;
	background-color:#1d5c92;
	font-size:1.3em;
	/*font-family: 'PT Sans Narrow', sans-serif !important; 	*/
	letter-spacing:1px;
}

h1,h2,h3,h4,h5,h6 {
	/*font-family: 'PT Sans Narrow', sans-serif !important; */
	letter-spacing:2px;
	text-shadow: 3px 3px 3px black;
	font-family: 'Josefin Sans', sans-serif !important;
}


input[type=checkbox] {
  zoom:1.5;
}

.auto {
	line-height: 2em;
}

.btn {
	/*background-color: rgba(0,0,0,0);*/
	/*border-width:3px;*/
}

.navIcons {
	width:2.5em;
	height:2.5em;
}

.countdown {
	color:#00ffc4;
}

#backgroundPic {
	position:fixed;
	height:100%;
	width:100%;
}

html {
	height:100vh;
}

.imageTrigger {
	font-size:2em;
}


button.navbar-toggle {
   
  	border:0px solid white;
}

.btn-custom {
	background-color:rgba(0,0,0,0);
	color:white;
}

.yellow{
	background-color: #B19E25;
}

.borderOpac {
	/*border-radius: 1.5em;*/
	margin-bottom: 1vh;
	margin-top: 1vh;
}

.suggBox {
	padding:1em;
	margin:0;
}

.navLink {
	color:#3cc2d0;
}

.modal-backdrop {
	z-index:0;
}

.icon-bar#headLinks {
  background: #3cc2d0 !important;
  color: #3cc2d0 !important;
}

.raffleCont {
	color:white;
	background-position:center;
	background-size:105% 105%;
	text-align:center;
	border-radius:1em;
	min-height:12.5em;
	min-width:100%;
	padding:.2em ;
	margin:1%;
	overflow:hidden;
	transition: background-size .5s ease-in;
	box-shadow: 12px 12px 12px rgba(0,0,0,.8);

}

.ticketHead {
	color:yellow;
}

.raffleContents	{
	display:none;
}

.raffleCont:hover {
	background-size: 130% 130%;
}

.socialIcon {
	height:2.5em;
	width:2.5em;
	margin-top: 1.7vh;
}

#nameAndWall {
	margin-left:.5em;
}

.headLinks:hover {
	background-color:rgba(255,255,255,1);
}

#mobileChatHide {
	display:none;
}


.indivLottoCont{
	position:relative;
	background-position:center;
	background-size:110% 110%;
	text-align:center;
	width:100%;
	border:1px solid white;
	border-radius:1em;
	/*height:9em;*/
	padding:.3em 0em .5em 0em ;
	margin:1%;
	/*overflow:hidden;*/
	background-color:rgba(255,255,255,.08);
}

.indivLottoCont:hover{
	background-color:rgba(255,255,255,.4);
	border:1px solid lightgreen;

}

/*.col1 {
	text-align: center;
	height:4em;
	padding-top:.5em;
	padding-bottom:.5em;
	transition: all 1s ease;
}
.col1:hover {
	background-color: rgba(0,55,255,.4);
}*/

#main {
	/*background-color:rgba(0,0,0,1);*/
	color:white;
	z-index:0;
	top:0;
}

::-webkit-input-placeholder { /* Chrome */
  color: lightgreen !important;
  opacity:1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: lightgreen !important;
  opacity:1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: lightgreen !important;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: lightgreen !important;
  opacity: 1;
}

.infoHeaders {
	color:lightblue;
}

 /*content right side*/
/*.gameAndChatInfo {
	min-height:100vh; 
}*/

#chat {
	margin-right:-1em;
	color:white;
}

#info {
	max-height:10vh;
	border-radius:0 0 1.5em 1.5em;
}

.splashPar {
	font-size:1em;
}

.raffleContent {
	color:white;
	margin-top:15%;
}

.raffleContent:hover {
	background-color:rgba(0,0,0,.5);
	opacity:1;
}



#gameArea {
	padding:0;
}

#links {
	display:flex;
	justify-content: space-around;
}

.areaHeaders {
	border-bottom:1px solid white;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
}

.areaHeader {
	/*padding-top: .5em;*/
	padding-bottom: .5em;
	text-align: center;
	font-size:1.2em;
}

ul.pagination {
	margin-top:1em;
	max-height:1em;
}

.glyphicon {
	color:#3cc2d0;
}

.suggHead {
	color:#3cc2d0;
	margin-top: .5em;
	text-decoration:underline;
}

.suggHead:hover {
	color:lightgreen;
	font-style: italic;
}


.aboutUs {
	border:1px solid white;
	border-top:0;
	padding:1em;
}

#hider {
	padding-bottom:0em;
}

.color {
	background-color:rgba(0,0,0,.5);
}

.img-circle {
	display:flex;
	justify-content: left;
	width:100%;
	margin-top: 1em;
	margin-bottom: 1em;
	height:8em;
	display:none;
}

#profImg {
	border-radius: 15em;
}

#profImg:hover {
	border-radius: 1em;
}

.commentSpacing{
	padding: 1em;
}


td {
	background-color:rgba(0,0,0,0);
	overflow:hidden;

}

.btn {
	font-size:1em;
}



.cleargreenBtn {
	margin:0em 0 0em 0;
	color:lightgreen !important;
	border:3px solid lightgreen;

	min-width:6em;
	border-radius:2em;
	text-align:center;
	font-size:1.2em;
	background-color:rgba(0,0,0,0);
	padding:.2em 1em 0em 1em;
}





.btn-success:hover {
	color:white !important;
	border-color:lightgreen;
	background-color:lightgreen;
}

.btn {
	/*border-radius:10em;*/
}



.headUN {
	margin-top: 3em;
	margin-bottom: 1%;
	margin-left: 1em;
}

.row {
	margin:0;
	padding:0;
}

img {
	max-width:100%;
	max-height:100%;
}

.fontSize {
	font-size:2.5em; 
}

#headImg {
	width:3.8em;
	height:3em;
	border-radius: 10em;
	margin-top:.2em;
	float:left;
}

#showProfImg {
	max-height: 15em;
	width:100%;
}

#headLogo {
	margin-top: 1em;
}

#checkWrapper {
	max-width: 100%;
}

label {
	vertical-align: bottom;
}

.numCheckbox {
	width: 20px;
	height: 50px;
	vertical-align: -18px;
	

}

select {
	/*background-color:rgba(0,0,0,0);*/
	/*margin-bottom:2em;*/
}

.creatorsSocialIcons {
	height:1.4em;
	width:1.4em;
	float:left;
	margin-right:1em;
}

.creatorPics {
	border-radius: 2em;
}

.user:hover {
	background-color:white;
}

a:hover, a:active {color:lightgreen;}

#jackpot {
	font-size:2em;
}

#zeroO {
	background-color:rgba(0,0,0,0);
	color:#3cc2d0;
}



input, button {
	outline:none;
}

.adminTables {
	overflow:scroll;
}

.adminNavs {
	padding:.5em;
	/*color:yellow;*/
}

#menu {
	background-color: black;
	min-height:6vh;
	padding:0 1em 0 1em;

}

.navButton {
	margin:.18em 0 .18em 0;

}

.auto2 {
	display:none;
	padding:.2em;
	font-size: 1.2em;
}

#googlepos {
	padding:2vh 0 2vh 0;
	border-radius: .5em;
	text-align: center;
	box-shadow:0px 0px;
}

#footer {
	background-color: rgba(0,0,0,.62);
}


#mainHolder{
	box-shadow: 0px 4px 4px rgba(0,0,0,.6);
	padding-top:3.5em;
	background-color: rgba(0,0,0,.6);
	text-align:center;
}

#splashImage{
	min-width:1280px;
}

#backgroundPic {
	min-width:1280px;
}


@media screen and (min-width: 768px) {

	#backgroundPic {
		min-width:100vw;
	}
	#checkWrapper {
		padding-top: 10vh;
	}


	#splashHeader {
		padding-top: 25vh;
	}

	#splashImage{
		min-width:100vw;
	}

	.authSpacer {
		margin-top:4em;
	}

	.raffleCont {
		min-height: 34vh;
	}

	#twlSpacer {
		padding-top: 5em;
	}

	#jackpot {
		font-size:4em;
	}

	#nav {
		position:fixed;
		top:0;
		width:100%;
		float:right;
		z-index:10;"
	}
	#gameScroll {
		overflow:scroll;
		height:86.5vh;
	}


	#main {
		width:100%;
		/*background-color:rgba(0,0,0,.85);*/
		font-size:1em;
		position:fixed;		
	}
	

	.chatInfoContSpacing {
		padding:0;
	}

	.chatInfoMargins {
		padding-right:2em;
		margin-right:-1.1vw;
	}

	#chat {
		font-size: 1.2em;
		padding-right:0;
		overflow-y:scroll;
		height:38vh;
	}

	#backgroundPic {
	}

	.flip-container, .front, .back {
		width: 13.3em;
		height: 37vh;
		text-align:center;
	}

	.indivLottoCont{
		width:48%;

	}

	#mobileChatHide {
		display:block;
	}

	#chatArea {
		
	}


	.walletPadding {
		margin:.1em;
	}

	#sidebar {
		/*background-color:rgba(0,0,0,.6);*/
		/*position:fixed;
		right:0;*/
	}

	.navButton {
		padding:3px 0 3px 0;
		text-align: center;
	}
	
	#hider {	
		height:86.5vh;
		padding-bottom: 0em;
		overflow:scroll;
	}

	#footer {
		height:7.5vh;
		overflow: scroll;
	}

	#twlButton {
		margin-top:1em;
	}

}

@media screen and (max-width: 768px) {
	.raffleCont {
		max-width:16em;
	}

	#twlButton {
		margin-bottom:2em;
	}
}

@media screen and (min-width:992px){
	.paddingMobile {
		padding-top:6em;
	}

	.paddingMobile2 {
		padding-top:9em;
	}
}