
body {
	color:#e0fff8;
	background-color:rgba(0,0,0,0);
	font-size:1.9em;
	
}

::-webkit-input-placeholder {
    color:white;
    text-align:center;
}

.countdown {
	color:#00ffc4;
}

#backgroundPic {
	position:fixed;
	height:100%;
	width:100%;
}

html {
	height:100vh;
	/*background-image:url("images/earthAtNight.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color:white;
	margin:0;
	padding:0;
	position: relative;
	padding-bottom: 6rem;
	min-height: 100%;*/
}

a {
	color:lightblue;
	text-decoration: underline;
}
#clock{
	font-size: 20px;
}

#white {
	color:white;
}

#white:hover {
	color:lightgreen;
}


.btn-custom {
	background-color:rgba(0,0,0,0);
	color:white;
}

.borderOpac {
	/*all main area borders*/
	/*border:1px solid white;*/
	/*background-color:rgba(255,255,255,.2);*/
	border-radius: 1.5em;
	margin-bottom: 1vh;
	margin-top: 1vh;
}

.navbar-collapse>ul>li>a {
	border: 2px solid white;
	border-radius:3em;
	margin:0;
	text-align:center;
}

#head, #footer {
	min-height:7.5vh;
}

.suggBox {
	padding:1em;
	margin:0;
}

.navLink {
	padding-top:.2em;
	padding-bottom: 1em;
	margin-right: 1em;
	margin-left: 1em;
}

#raffleCont{
	position:relative;
	color:white;
	background-position:center;
	background-size:110% 110%;
	text-align:center;
	/*max-width:31.3%;*/
	/*float:left;*/
	border-radius:1em;
	height:25vh;
	padding:0em 1em 1em 1em ;
	margin:1%;
	overflow:hidden;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	float:left;
	margin:1.5vw;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 75vw;
	height: 25vh;
	text-align:center;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.indivLottoCont{
position:relative;
background-position:center;
background-size:110% 110%;
text-align:center;
width:48%;
float:left;
border:1px solid white;
border-radius:1em;
height:9.5em;
padding:1em 1em 1em 0em ;
margin:1%;
overflow:hidden;
background-color:rgba(255,255,255,.08);
}

.indivLottoCont::hover{
	background-color:rgba(255,255,255,.5);

}

#main {
	height:100%;

	}

	#random_quote {
		margin:0px;
	}

 /*content right side*/
	.gameAndChatInfo {
		min-height:80vh; 
	}

	#chat {
		min-height:51vh;
		max-height:51vh;
		border-radius:1.5em 1.5em 0 0;
	}

	#info {
		min-height:28vh;
		border-radius:0 0 1.5em 1.5em;
	}
.splashPar {
	font-size:1.5em;
}

.raffleContent {
	/*opacity:0;*/
	color:white;
	margin-top:25%;
}

.raffleContent:hover {
	background-color:rgba(0,0,0,.5);
	opacity:1;

}

.col-sm-4 {
	padding-right:0;
}

#gameArea {
	padding:0;
}

#links {
	display:flex;
	justify-content: space-around;
}

.areaHeaders {
	border-bottom:1px solid white;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
}

.areaHeader {
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
}

ul.pagination {
	margin-top:1em;
	max-height:1em;
}

.suggHead {
	margin-top: 0;
}

.aboutUs {
	border:1px solid white;
	border-top:0;
	padding:1em;
}

.img-circle {
	display:flex;
	justify-content: center;
	width:100%;
	margin-top: 1em;
	margin-bottom: 1em;
	height:8em;
}

#profImg {
	border-radius: 15em;
}

#profImg:hover {
	border-radius: 1em;
}

.commentSpacing{
	padding: 1em;
}

/*.form-group {
	width:80%;
}*/

tr {
	background-color:rgba(0,0,0,0);
	overflow:hidden;
}

.headUN {
	margin-top: 3em;
	margin-bottom: 1%;
	margin-left: 1em;
}

img {
	max-width:100%;
	max-height:100%;
}

#showProfImg {
	max-height: 15em;
	width:100%;
}

#headLogo {
	margin-top: 10px;
}

#checkWrapper {
	max-width: 100%;

}
label {
	vertical-align: bottom;
}

.numCheckbox {
	width: 20px;
	height: 50px;
	vertical-align: -18px;
	

}

select {
	background-color:rgba(0,0,0,0);
	margin-bottom:2em;
}

.creatorsSocialIcons {
	height:3em;
	width:3em;
	float:left;
	margin-right:1em;
}

a:hover{color:yellow;}

@media screen and (min-width: 768px) {

	#gameArea {
		margin-left: 20.75vw;
		width:52.6vw;

	}

	#main {
		position:fixed;left:0;
		max-height:100vh;
		width:20%;
		/*background-color:#2a6969;*/
		background-color:rgba(0,0,0,.4);

	}

	.chatInfoContSpacing {
		position:fixed;right:0;
		padding-right:0;
		height:100vh;
		border-left:1px solid white;

	}
	.chatInfoMargins {
		padding-right:2em;
		margin-right:-1.1vw;

	}

	#chat {
		padding-right:0;
		margin-left:-.6em;
	}

	#backgroundPic {
		/*padding-left: 15vw;*/
	}

	.flip-container, .front, .back {
	width: 21.75vw;
	height: 25vh;
	text-align:center;
}




}
